#screen {
  width: 300px;
  height: 200px;
  text-align: center;
  user-select: none;
}
#screen.waiting {
  /*대기화면(aqua)화면*/
  background-color: aqua;
}
#screen.ready {
  background-color: red;
  color: white;
}
#screen.now {
  /* 클릭화면(greenyello)*/
  background-color: greenyellow;
}
